lib/cimgui/src/** linguist-vendored
lib/glad/src/** linguist-vendored
lib/glfw/src/** linguist-vendored
lib/cimgui/include/** linguist-vendored
lib/glad/include/** linguist-vendored
lib/glfw/include/** linguist-vendored