lib/** linguist-detectable
lib/cimgui/src/** -linguist-detectable
lib/glad/src/** -linguist-detectable
lib/GLFW/src/** -linguist-detectable
lib/cimgui/include/** -linguist-detectable
lib/glad/include/** -linguist-detectable
lib/GLFW/include/** -linguist-detectable
src/** linguist-detectable
res/** linguist-detectable
app/** linguist-detectable